# libs

In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from pycaret.classification import *

# product metric

- **продукт**: чат-бот для психологической поддержки (можно взять готовую модель bloom https://colab.research.google.com/drive/1Ervk6HPNS6AYVr3xVdQnY5a-TjjmLCdQ). каждый ответ человека классифицируется по эмоциям. в итоге, мы можем посчитать какая эмоция превалировала в процентном соотношении за каждый разговор/ день/ неделю. эту информацию можно как превращать в столбчатые диаграммы с изменяемым периодом, чтобы человек сам видел как он себя чувствует, как его настроение меняется в каких ситуациях, так и для бизнес-метрики (ретеншен), т к она вероятнее всего будет коррелировать с тем, меняется ли настроение человека к концу разговора с ботом относительно начала. например, любой разговор (коммуникация, перерывы в которой не превышают 1 час) будем делить на 4 равные части из сообщений, по первой замерять преобладающее настроение человека в момент обращения к боту, а по последней - настроение после "работы" с ботом. если процент "хороших" эмоций повышается, то значит что бот помогает справляться с тяжелым состоянием, и ожидается, что такие люди будут с большей вероятностью возвращаться к использованию продукта. также это в целом полезный показатель удовлетворенности клиента в случае с таким нетиповым продуктом. 
- **задача ML**: многоклассовая классификация
- **целевая переменная**: метки эмоций
- **бизнесовая метрика**: выдвигаем гипотезу, что на RR влияет процент "хороших" эмоций к концу диалога с ботом относительно начала диалога
- **ML-метрики**: средняя F-мера, индивидуальные AUC-PRC и AUC-ROC

# data

labels:
 - 0 > sadness
 - 1 > joy
 - 2 > love
 - 3 > anger
 - 4 > fear
 - 5 > surprise

In [2]:
df_train = pd.read_csv('data/training.csv')
df_test = pd.read_csv('data/test.csv')
df_val = pd.read_csv('data/validation.csv')

In [8]:
df_train.label.value_counts()

1    5362
0    4666
3    2159
4    1937
2    1304
5     572
Name: label, dtype: int64

In [6]:
df_test.label.value_counts()

1    695
0    581
3    275
4    224
2    159
5     66
Name: label, dtype: int64

In [7]:
df_val.label.value_counts()

1    704
0    550
3    275
4    212
2    178
5     81
Name: label, dtype: int64

In [3]:
df_train.label.value_counts()

1    5362
0    4666
3    2159
4    1937
2    1304
5     572
Name: label, dtype: int64

In [9]:
vect = TfidfVectorizer(sublinear_tf=True, use_idf=True)

X_train = vect.fit_transform(df_train.text.values)
X_test = vect.transform(df_test.text.values)
X_val = vect.transform(df_val.text.values)

In [5]:
X_train.shape

(16000, 15186)

In [13]:
tsvd = TruncatedSVD(n_components=10)
X_train_pca = tsvd.fit_transform(X_train)
X_test_pca = tsvd.transform(X_test)
X_val_pca = tsvd.transform(X_val)

In [14]:
train = pd.concat([pd.DataFrame(X_train_pca),df_train.label],axis=1)
test = pd.concat([pd.DataFrame(X_test_pca),df_test.label],axis=1)
val = pd.concat([pd.DataFrame(X_val_pca),df_val.label],axis=1)

# baseline

In [32]:
pd.concat([train[:100],test[:20]])

,0,1,2,3,4,5,6,7,8,9,label
0,0.064295,-0.063298,0.055273,0.018179,-0.041933,-0.002546,0.040155,0.043644,-0.018218,0.002119,0
1,0.188749,0.025860,0.079407,0.096769,-0.071298,0.026928,-0.126673,-0.029908,-0.012344,-0.038522,0
2,0.094186,0.042580,0.114990,-0.099052,0.010857,-0.003603,-0.041074,0.035312,0.033833,-0.015461,3
3,0.229839,0.064610,-0.054677,0.078330,0.079268,-0.009854,0.165113,-0.179847,0.051899,0.010193,2
4,0.103607,0.250481,-0.025022,0.230799,0.158933,-0.158567,0.062794,-0.022759,-0.030968,-0.056590,3
...,...,...,...,...,...,...,...,...,...,...,...
15,0.136640,0.231361,-0.022152,-0.039700,-0.012256,0.198636,0.025453,0.066841,-0.045357,-0.027142,0
16,0.085233,0.050516,0.102207,0.006409,-0.047244,-0.038810,0.070670,0.070791,0.015270,0.049842,1
17,0.218618,-0.077997,0.027761,-0.021665,0.018544,-0.042400,-0.038324,0.159485,0.004024,-0.040020,0
18,0.127300,-0.043211,0.007999,-0.012350,-0.002555,0.018594,0.007719,-0.013600,0.071187,-0.013248,3
19,0.247513,-0.067683,0.107102,0.066667,-0.217816,-0.072835,-0.024232,0.032271,-0.076426,-0.076638,1

In [38]:
tte = test[:20]

In [41]:
tte.index = range(100,120)
tte

,0,1,2,3,4,5,6,7,8,9,label
100,0.163880,0.272350,0.242446,-0.020444,-0.068234,-0.041986,-0.070683,-0.051176,-0.020481,0.017386,0
101,0.114175,0.061004,0.103031,-0.111210,-0.051528,-0.030802,-0.005280,0.041510,0.034446,-0.027666,0
102,0.189592,-0.114625,0.058650,-0.033518,0.066533,0.032073,-0.038949,0.109180,-0.058682,-0.031581,0
103,0.147417,0.072203,-0.079598,-0.011048,-0.043910,-0.075704,0.001773,0.103432,0.023868,-0.017379,1
104,0.169207,0.186440,-0.078553,0.041872,-0.020063,0.158771,0.076677,0.048596,-0.098654,0.102390,0
105,0.087093,-0.036787,0.053327,-0.010109,0.049951,-0.029737,0.014871,-0.015254,-0.006525,-0.018181,4
106,0.105015,-0.006621,-0.116554,-0.054050,-0.071017,-0.045596,0.024406,-0.052568,-0.006811,-0.040433,3
107,0.192887,0.036153,-0.143755,-0.012908,-0.049269,-0.000688,-0.047508,0.008819,-0.026253,0.046439,1
108,0.207263,0.005394,-0.035449,-0.048071,0.106426,0.019772,-0.066214,0.032219,0.031674,0.080094,1
109,0.223096,0.073120,0.006107,0.013240,-0.008850,-0.063909,0.053235,-0.025978,0.079963,0.017468,3
110,0.067217,-0.051897,0.071442,0.017977,-0.019074,-0.031362,0.042362,0.017368,0.005711,0.009028,4
111,0.137225,-0.040142,-0.041075,-0.002826,-0.036746,-0.001637,-0.012119,0.004010,-0.021026,-0.039908,0
112,0.135414,0.073850,-0.046574,0.005975,-0.040010,0.015202,0.067921,-0.019039,0.050835,-0.063417,4
113,0.229018,-0.074847,-0.019665,-0.047909,0.006160,-0.038281,-0.050731,-0.007981,-0.009997,-0.037887,1
114,0.157698,0.085391,-0.153739,-0.061327,-0.080255,-0.092852,0.000058,-0.064443,0.018955,-0.029819,2
115,0.136640,0.231361,-0.022152,-0.039700,-0.012256,0.198636,0.025453,0.066841,-0.045357,-0.027142,0
116,0.085233,0.050516,0.102207,0.006409,-0.047244,-0.038810,0.070670,0.070791,0.015270,0.049842,1
117,0.218618,-0.077997,0.027761,-0.021665,0.018544,-0.042400,-0.038324,0.159485,0.004024,-0.040020,0
118,0.127300,-0.043211,0.007999,-0.012350,-0.002555,0.018594,0.007719,-0.013600,0.071187,-0.013248,3
119,0.247513,-0.067683,0.107102,0.066667,-0.217816,-0.072835,-0.024232,0.032271,-0.076426,-0.076638,1

In [40]:
tte

,0,1,2,3,4,5,6,7,8,9,label
0,0.163880,0.272350,0.242446,-0.020444,-0.068234,-0.041986,-0.070683,-0.051176,-0.020481,0.017386,0
1,0.114175,0.061004,0.103031,-0.111210,-0.051528,-0.030802,-0.005280,0.041510,0.034446,-0.027666,0
2,0.189592,-0.114625,0.058650,-0.033518,0.066533,0.032073,-0.038949,0.109180,-0.058682,-0.031581,0
3,0.147417,0.072203,-0.079598,-0.011048,-0.043910,-0.075704,0.001773,0.103432,0.023868,-0.017379,1
4,0.169207,0.186440,-0.078553,0.041872,-0.020063,0.158771,0.076677,0.048596,-0.098654,0.102390,0
5,0.087093,-0.036787,0.053327,-0.010109,0.049951,-0.029737,0.014871,-0.015254,-0.006525,-0.018181,4
6,0.105015,-0.006621,-0.116554,-0.054050,-0.071017,-0.045596,0.024406,-0.052568,-0.006811,-0.040433,3
7,0.192887,0.036153,-0.143755,-0.012908,-0.049269,-0.000688,-0.047508,0.008819,-0.026253,0.046439,1
8,0.207263,0.005394,-0.035449,-0.048071,0.106426,0.019772,-0.066214,0.032219,0.031674,0.080094,1
9,0.223096,0.073120,0.006107,0.013240,-0.008850,-0.063909,0.053235,-0.025978,0.079963,0.017468,3
10,0.067217,-0.051897,0.071442,0.017977,-0.019074,-0.031362,0.042362,0.017368,0.005711,0.009028,4
11,0.137225,-0.040142,-0.041075,-0.002826,-0.036746,-0.001637,-0.012119,0.004010,-0.021026,-0.039908,0
12,0.135414,0.073850,-0.046574,0.005975,-0.040010,0.015202,0.067921,-0.019039,0.050835,-0.063417,4
13,0.229018,-0.074847,-0.019665,-0.047909,0.006160,-0.038281,-0.050731,-0.007981,-0.009997,-0.037887,1
14,0.157698,0.085391,-0.153739,-0.061327,-0.080255,-0.092852,0.000058,-0.064443,0.018955,-0.029819,2
15,0.136640,0.231361,-0.022152,-0.039700,-0.012256,0.198636,0.025453,0.066841,-0.045357,-0.027142,0
16,0.085233,0.050516,0.102207,0.006409,-0.047244,-0.038810,0.070670,0.070791,0.015270,0.049842,1
17,0.218618,-0.077997,0.027761,-0.021665,0.018544,-0.042400,-0.038324,0.159485,0.004024,-0.040020,0
18,0.127300,-0.043211,0.007999,-0.012350,-0.002555,0.018594,0.007719,-0.013600,0.071187,-0.013248,3
19,0.247513,-0.067683,0.107102,0.066667,-0.217816,-0.072835,-0.024232,0.032271,-0.076426,-0.076638,1

In [42]:
clf = setup(data=train[:100], test_data=tte, target='label', fold=3)

In [43]:
compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize='deprecated', positive=False,
                random_state=4610, solver='auto', tol=0.001)

In [20]:
compare_models()

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize='deprecated', positive=False,
                random_state=8085, solver='auto', tol=0.001)

In [27]:
get_config('X_test_transformed')[:5]

,0,1,2,3,4,5,6,7,8,9
0,0.064295,-0.063298,0.055273,0.018179,-0.041933,-0.002546,0.040155,0.043644,-0.018218,0.002119
0,0.163880,0.272350,0.242446,-0.020444,-0.068234,-0.041986,-0.070683,-0.051176,-0.020481,0.017386
1,0.188749,0.025860,0.079407,0.096769,-0.071298,0.026928,-0.126673,-0.029908,-0.012344,-0.038522
1,0.114175,0.061004,0.103031,-0.111210,-0.051528,-0.030802,-0.005280,0.041510,0.034446,-0.027666
2,0.094186,0.042580,0.114990,-0.099052,0.010857,-0.003603,-0.041074,0.035312,0.033833,-0.015461

In [28]:
train[:100][:5]

,0,1,2,3,4,5,6,7,8,9,label
0,0.064295,-0.063298,0.055273,0.018179,-0.041933,-0.002546,0.040155,0.043644,-0.018218,0.002119,0
1,0.188749,0.025860,0.079407,0.096769,-0.071298,0.026928,-0.126673,-0.029908,-0.012344,-0.038522,0
2,0.094186,0.042580,0.114990,-0.099052,0.010857,-0.003603,-0.041074,0.035312,0.033833,-0.015461,3
3,0.229839,0.064610,-0.054677,0.078330,0.079268,-0.009854,0.165113,-0.179847,0.051899,0.010193,2
4,0.103607,0.250481,-0.025022,0.230799,0.158933,-0.158567,0.062794,-0.022759,-0.030968,-0.056590,3

In [29]:
get_config('X_train_transformed')[:5]

,0,1,2,3,4,5,6,7,8,9
0,0.064295,-0.063298,0.055273,0.018179,-0.041933,-0.002546,0.040155,0.043644,-0.018218,0.002119
0,0.163880,0.272350,0.242446,-0.020444,-0.068234,-0.041986,-0.070683,-0.051176,-0.020481,0.017386
1,0.188749,0.025860,0.079407,0.096769,-0.071298,0.026928,-0.126673,-0.029908,-0.012344,-0.038522
1,0.114175,0.061004,0.103031,-0.111210,-0.051528,-0.030802,-0.005280,0.041510,0.034446,-0.027666
2,0.094186,0.042580,0.114990,-0.099052,0.010857,-0.003603,-0.041074,0.035312,0.033833,-0.015461

In [30]:
test[:5]

,0,1,2,3,4,5,6,7,8,9,label
0,0.163880,0.272350,0.242446,-0.020444,-0.068234,-0.041986,-0.070683,-0.051176,-0.020481,0.017386,0
1,0.114175,0.061004,0.103031,-0.111210,-0.051528,-0.030802,-0.005280,0.041510,0.034446,-0.027666,0
2,0.189592,-0.114625,0.058650,-0.033518,0.066533,0.032073,-0.038949,0.109180,-0.058682,-0.031581,0
3,0.147417,0.072203,-0.079598,-0.011048,-0.043910,-0.075704,0.001773,0.103432,0.023868,-0.017379,1
4,0.169207,0.186440,-0.078553,0.041872,-0.020063,0.158771,0.076677,0.048596,-0.098654,0.102390,0

In [21]:
get_config()

{'USI',
 'X',
 'X_test',
 'X_test_transformed',
 'X_train',
 'X_train_transformed',
 'X_transformed',
 '_available_plots',
 '_ml_usecase',
 'data',
 'dataset',
 'dataset_transformed',
 'exp_id',
 'exp_name_log',
 'fix_imbalance',
 'fold_generator',
 'fold_groups_param',
 'fold_shuffle_param',
 'gpu_n_jobs_param',
 'gpu_param',
 'html_param',
 'idx',
 'is_multiclass',
 'log_plots_param',
 'logging_param',
 'memory',
 'n_jobs_param',
 'pipeline',
 'seed',
 'target_param',
 'test',
 'test_transformed',
 'train',
 'train_transformed',
 'variable_and_property_keys',
 'variables',
 'y',
 'y_test',
 'y_test_transformed',
 'y_train',
 'y_train_transformed',
 'y_transformed'}

In [ ]:
compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              20:26:44
Status     . . . . . . . . . . . . . . . . . .       Fitting 3 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

In [ ]:
# Ridge Classifier is the best baseline model